[Desktop Entry]
Name=Vesktop (Wayland)
Comment=Vesktop with PipeWire screencast support
Exec=vesktop --ozone-platform=wayland --use-gl=egl --disable-gpu-sandbox --enable-features=UseOzonePlatform,WaylandWindowDecorations,WebRTCPipeWireCapturer
Icon=vesktop
Type=Application
Categories=Network;InstantMessaging;
